@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,300&display=swap");
.hamburger {
  width: 1.3333333333rem;
  height: 1.1111111111rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: rem 4px;
  border-radius: rem 10px;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url(../foto/arnaud-mesureur-17OxKyThYPo-unsplash\ 1.png) no-repeat;
  -webkit-filter: drop-shadow(0.1111111111rem 0.2222222222rem 0.3333333333rem black);
          filter: drop-shadow(0.1111111111rem 0.2222222222rem 0.3333333333rem black);
  background-size: cover;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #FFFFFF;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: 85% 0%;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-position: 75% 0%;
  }
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}
.hero:before {
  content: url("../foto/crug.png");
  position: absolute;
  bottom: -1rem;
  right: 2%;
}
.hero:after {
  content: url("../foto/crug.png");
  position: absolute;
  bottom: -1rem;
  right: 2%;
}

.hero__title-section {
  width: 43%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 703 px/18px0rem;
    height: 709 px/18px0rem;
    background: url(/foto/arnaud-mesureur-17OxKyThYPo-unsplash\ 1.png) center center/contain no-repeat;
    margin-bottom: rem 16px;
  }
}

.hero__container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 86%;
  padding: 7.333333rem 0 2.5rem 0;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: rem 40px;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.5555555556rem;
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #1968B1;
  }
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu {
  padding-top: rem 5px;
  margin: 0 rem 30px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 46px;
}

.menu__item {
  margin-bottom: rem 10px;
  margin-right: 1.5rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.leaf__icon__serf {
  width: 0.5555555556rem;
  height: 0.5555555556rem;
  padding: 0.5555555556rem;
  border-radius: 50%;
  position: relative;
}

.leaf__icon__serf:after {
  content: "";
  margin-right: 1rem;
  display: block;
  position: absolute;
  top: 72%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  background: url(../foto/sprites.png) -0.5555555556rem -0.5555555556rem;
}

.leaf__icon__serf:hover:after {
  opacity: 0;
}

.leaf__icon__serf:hover:before {
  opacity: 1;
}

.leaf__icon__serf:before {
  content: "";
  margin-right: 1rem;
  display: block;
  position: absolute;
  top: 72%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  background: url(../foto/sprites.png) -3.9444444444rem -3.9444444444rem;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.leaf__icon__saw {
  width: 0.5555555556rem;
  height: 0.5555555556rem;
  padding: 0.5555555556rem;
  border-radius: 50%;
  position: relative;
}

.leaf__icon__saw:after {
  content: "";
  margin-right: 1rem;
  display: block;
  position: absolute;
  top: 72%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  background: url(../foto/sprites.png) -3.9444444444rem -0.5555555556rem;
}

.leaf__icon__saw:hover:after {
  opacity: 0;
}

.leaf__icon__saw:hover:before {
  opacity: 1;
}

.leaf__icon__saw:before {
  content: "";
  margin-right: 1rem;
  display: block;
  position: absolute;
  top: 72%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  background: url(../foto/sprites.png) -0.5555555556rem -3.9444444444rem;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.leaf__icon__car {
  width: 0.5555555556rem;
  height: 0.5555555556rem;
  padding: 0.5555555556rem;
  border-radius: 50%;
  position: relative;
}

.leaf__icon__car:after {
  content: "";
  margin-right: 1rem;
  display: block;
  position: absolute;
  top: 72%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  background: url(../foto/sprites.png) -7.3333333333rem -3.9444444444rem;
}

.leaf__icon__car:hover:after {
  opacity: 0;
}

.leaf__icon__car:hover:before {
  opacity: 1;
}

.leaf__icon__car:before {
  content: "";
  margin-right: 1rem;
  display: block;
  position: absolute;
  top: 72%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  background: url(../foto/sprites.png) -7.3333333333rem rem -10px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.2777777778rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 5rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--yellow {
  background: #FEDB3F;
  color: #000000;
}
.btn--theme--yellow:hover {
  color: black;
  background: #edc308;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #edc308;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .section {
    font-size: rem 20px;
  }
}
@media screen and (max-width: 480px) {
  .section {
    font-size: rem 16px;
  }
}
.section--font-color--wait {
  color: #FFFFFF;
}
.section--font-color--wait .section__title {
  color: #FFFFFF;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.9444444444rem;
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: rem 19px;
  }
}
.benefits__item:before {
  content: url(../foto/Shape\ sp-2203-0.png);
  position: absolute;
  top: 3.3333333333rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:before:first-child {
  padding-left: 0;
}
.benefits__item:before:last-child {
  padding-right: 0;
}
.benefits__item:before:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  color: black;
  font-weight: bold;
}

.benefits {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefits-section {
  position: relative;
}
.benefits-section::before {
  content: url(../foto/element.png);
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    display: none;
  }
}

.reviews__display-inner {
  background: #F8FAF9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2.5rem 1.8888888889rem;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 50px;
    margin-top: 54px;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .reviews__avatar-img {
    background: url(./foto/man\ avaters.png);
  }
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0rem;
  }
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black;
}

.reviews__text {
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 1rem;
  }
}

.reviews__autor {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 768px) {
  .section__title__reviews {
    margin-bottom: rem 33px;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .section__title__reviews {
    margin-bottom: 0.8333333333rem;
  }
}

.interective-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border-color: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interective-avatar--active {
  border-color: #FEDB3F;
}

.interective-avatar-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interective-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__swither-item {
  margin-right: 0.3333333333rem;
}
.reviews__swither-item:last-child {
  margin-right: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 19%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.form__row:last-child {
  margin-bottom: 0rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  border-radius: 5%;
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
.form__input--textarea {
  height: 9.6666666667rem;
  resize: none;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -0.611111rem;
  margin-bottom: 1.444444rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.oreder-section {
  background: url(../foto/124f6c66-b452-4900-b76c-d4942f67647c.jpg) no-repeat;
  -webkit-filter: drop-shadow(0.1111111111rem 0.2222222222rem 0.3333333333rem black);
          filter: drop-shadow(0.1111111111rem 0.2222222222rem 0.3333333333rem black);
  background-size: cover;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #FFFFFF;
  position: relative;
}
@media screen and (max-width: 768px) {
  .oreder-section {
    background-position: center;
    height: 135vh;
  }
}
@media screen and (max-width: 480px) {
  .oreder-section {
    height: 135vh;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: rem 10px;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url(../foto/Vector5.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  margin-right: 0.3333333333rem;
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio__title {
  margin-right: 0.6666666667rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.catalog__item__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .catalog__item__service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.catalog__img-elem {
  position: absolute;
  top: -18%;
}

.arrows {
  margin-bottom: 0.2777777778rem;
}

.catalog__content {
  width: 20.7777777778rem;
  height: 18.2777777778rem;
}
@media screen and (max-width: 768px) {
  .catalog__content {
    padding: 21px 55px;
    width: auto;
    height: auto;
  }
}

.catalog__desc {
  margin-bottom: 1.3333333333rem;
}

.characteristic {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .characteristic {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.characteristic_option {
  color: black;
  font-weight: bold;
}

.catalog__title {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .catalog__title {
    text-align: center;
  }
}

.price_botton__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.3333333333rem;
  width: 20.6111111111rem;
}
@media screen and (max-width: 768px) {
  .price_botton__price {
    width: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.price_botton__price__coll {
  font-size: 3.3333333333rem;
  color: black;
}

.btn--theme--price {
  height: 3.3333333333rem;
  width: 8.6666666667rem;
}

.price_botton__price__coll {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.options {
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background: #3A587E;
  border-radius: 10%;
}

.slide__button {
  height: 2.2222222222rem;
  width: 1.3333333333rem;
  background-color: transparent;
  border-color: transparent;
  top: 42%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide_cp {
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .slide_cp {
    top: 25%;
  }
}

@media screen and (max-width: 768px) {
  .catalog-priсe {
    height: 135vh;
  }
}

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu__link--burger {
  color: white;
  text-decoration: none;
}

.menu__item--burger {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__list--burger {
  list-style: none;
  padding: 0;
  margin: 0;
}

.burger {
  position: fixed;
  top: 20px;
  right: 10%;
  height: 25px;
  width: 40px;
  cursor: pointer;
  z-index: 15;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: none;
}
@media screen and (max-width: 768px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.burger__line {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
  top: initial;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #24243B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  line-height: 1.9444444444rem;
}

.menu_burger__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu_burger__item:after {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 10px;
}
.menu_burger__item:last-child {
  margin-bottom: 0;
}
.menu_burger__item:last-child:after {
  display: none;
}
.menu_burger__link:hover {
  opacity: 0.7;
}

.burger--active .burger__line:nth-child(1) {
  opacity: 0;
}
.burger--active .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger--active .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-8px) translateX(5px);
          transform: rotate(-45deg) translateY(-8px) translateX(5px);
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.body--active-menu {
  overflow: hidden;
}

.options {
  position: absolute;
  cursor: pointer;
  margin-bottom: 2.8888888889rem;
  margin-top: -15%;
  padding: 0.8333333333rem 0.2777777778rem;
  color: white;
  text-align: -webkit-center;
}
@media screen and (max-width: 768px) {
  .options {
    display: none;
  }
}
.options:hover {
  background-color: rgb(23, 8, 192);
}
.options:hover .parametrs {
  background-color: #FFFFFF;
  color: black;
  height: 16.1666666667rem;
  width: 15.1666666667rem;
  position: absolute;
  top: 0%;
  left: 100%;
  border-radius: 2%;
  visibility: visible;
}
.options:hover:before {
  content: attr(parametrs);
  color: aqua;
}
.options .span.options {
  position: absolute;
}
.options .parametrs {
  background-color: black;
  height: 16.1666666667rem;
  width: 15.1666666667rem;
  position: absolute;
  top: 0%;
  left: 100%;
  border-radius: 2%;
  visibility: hidden;
}
.options .parametrs:hover {
  content: "";
  visibility: visible;
  z-index: 10;
}
.options .parametrs__option {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7222222222rem 0.3888888889rem;
}
.options .parametrs::after {
  content: "";
  visibility: visible;
  z-index: 10;
}
.options .options:hover.parametrs {
  visibility: visible;
  opacity: 1;
}