.benefits-section {
    position: relative;

    &::before{
        content: url(../foto/element.png);
        position: absolute;
        bottom: rem(-80px);
        left: 0;
        @include phones {
            display: none;
        }
    
    }

}