.form {
    display: flex;
    
    @include tablets {
    padding: 0 19%;
    flex-direction: column;
}
    @include phones {
        padding: 0;
    }

}

.form__col {
  
    flex: 1;
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }
    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(18px);
    &:last-child {
        margin-bottom: rem(0px);
    }

}

.form__block {

    flex: 1;
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }


}

.form__input {
    border-radius: 5%;
    width: 100%;
    border: none;
    padding: rem(18px) rem(11px);
    //border: solid rem(3px) #FEDB3F;
    border: solid rem(3px) transparent;

    &--textarea {
        height: rem(174px);
        resize: none;
    }
    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }
}


.form__controls {
    display: flex;
    flex-wrap: wrap;
    //margin-top: rem(25px);
    //margin-bottom: rem(44px);
    margin-top: -0.611111rem;
    margin-bottom: 1.444444rem;
    
    @include phones {
        justify-content: center;
    }
    }

.form__btns {
    display: flex;
    justify-content: center;
}


