.header {
    display: flex;
    align-items: flex-start;
   // justify-content: space-between;
    justify-content: center;
    padding: 1.5%; // пришлось добавить
    align-items: center;// пришлось добавить
    @include tablets{
        justify-content: space-between;
        background-color: #1968B1;
    }
}


.phone-number {
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon-elem {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
}

.phone-number.header__phone-number{
    @include tablets{
        display: none;
    }
 }

 .phone-number__text {
    white-space: nowrap;
 }
 .phone-number__icon{
    flex-shrink: 0;
 }