.hero { 
    background: url(../foto/arnaud-mesureur-17OxKyThYPo-unsplash\ 1.png) no-repeat;
    filter: drop-shadow(rem(2px) rem(4px) rem(6px) black);
    background-size: cover;
    height: 100vh;
    min-height: rem(650px);
    color:#FFFFFF;
    position: relative;
    @include tablets {
        background-position: 85% 0%;
         
    } 
    @include phones {
        background-position: 75% 0%;;
        
    }

    &:before, &:after {
        @include tablets {
            display: none;
        }
    }

    &:before {
        content: url("../foto/crug.png");
        position: absolute;
        bottom: rem(-18px);
        right: 2%;
    }

    &:after {
        content: url("../foto/crug.png");
        position: absolute;
        bottom: rem(-18px);
        right: 2%;
    }
}

.hero__title-section {
    width: 43%;
    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before{
            content: "";
            width: rem(703 px);
            height: rem(709 px);
            background: url(/foto/arnaud-mesureur-17OxKyThYPo-unsplash\ 1.png) center center / contain no-repeat ;
            margin-bottom: rem (16px);
        }
    }
        

}
.hero__container {
justify-content: space-around; //-пришлось дбавить
    display: flex;
    flex-direction: column;
    //justify-content: space-between;//-пришлось убрать
    
    height: 86%; //добавил 15% было 100
    padding: 7.333333rem 0 2.5rem 0;

    @include tablets {
        background: none;
    }
}

.hero__main-title {
    font-size: rem(48px);
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: rem(15px);
    text-transform: uppercase;
    @include phones {
        font-size: 40px;
    }
}


.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(28px);
    
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
   } 
  