.reviews__display-inner {
    background: #F8FAF9;
    padding: rem(50px) rem(45px) rem(34px);
}

.reviews__display-inner{
    display: flex;
    margin-bottom: rem(15px);
    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0 2.5rem 1.8888888889rem;;
    }
}

.reviews__avatar {
    width: rem(254px);
    height: rem(264px);
    @include tablets {
        width: rem(130px);
        height: rem(130px);
       
    }
}


.reviews__avatar-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include tablets {
        
        background: url(./foto/man\ avaters.png)
       
    }

}

.reviews__content {
    flex: 1;
    margin-left: rem(20px);
}

.reviews__title {
    font-size: rem(30px);
    font-weight: bold;
    margin-bottom: rem(22px);
    color: black;
}

.reviews__text {
    margin-bottom: rem(36px);
}

.reviews__autor{
    font-size: rem(18px);
    font-weight: bold;
    color: black;
}


.section__title__reviews {
    @include tablets {
margin-bottom: rem (33px);
} 
}